<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Prijavi ispit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <img th:src="@{/images/si.gif}" class="img-responsive center-block" alt="Logo" />
        <form th:action="@{/prijava}" th:object="${prijava}" method="POST" class="form-signin">
            <h3 class="form-signin-heading" th:text="Welcome"></h3>
            <br/>
            <select name="ispit" th:field="*{idIspita}">
                <option th:each="i: ${ispiti}" th:value="${i.ispitId}" th:text="${i.predmet.naziv} + ${i.vreme} + ${i.rok.naziv}">x</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Prijava!" type="Submit" th:text="Login"></button>
        </form>
    </div>
    </body>
</html>
